<!DOCTYPE html>
<html>
<head>
  <title>Create a new post</title>
</head>
<body>
	<h1>Create a new post</h1>
	<form action="/addpost" method="POST">

		<input type="value" name="title"placeholder="title">
		<input type="value" name="category"placeholder="category"> 
		<input type="value" name="author"placeholder="author">   
		<input type="number" name="date"placeholder="date">
		<input type="value" name="text"placeholder="text">

	<button type="submit">Create new post</button>

	</form>
</body>
</html>