<!DOCTYPE html>
<html>
<head>
  <title>Movie Quiz</title>
</head>
<body>
	<center>
	<h1>Movie Quiz</h1>
	<form action="/results" method="POST">

	<input type="value" name="new_term" placeholder="Type in a keyword">

	<button type="submit">Submit</button>

	</form>
	</center>

</body>
</html>
